<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALORIES </title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
  <header>
    <div class="containers">
      <h1 class="heading">Eat Clean.</h1>
       <p class="white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, repellat.</p>
         <a class="btn btn-danger" href="/login">Login</a>
         <a class="btn btn-outline-danger" href="/signup">signup</a> 
    </div>
  </header>

  <main class="container space">
  <div class="h2 heading2">Here's what we do</div>
    <div class="card-group">
      <div class="card">
       
        <img src="/static//images/sad.jpg" class="card-img-top " alt="...">
        <div class="card-body">
          <h5 class="card-title">Caloric deficit</h5>
          <p class="card-text">Learn the science before starting out your diet.</p>
  
          <a href="#" class="btn btn-danger">Learn more</a>       
        </div>
      </div>
      <div class="card">
        <img src="/static/images/strength.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Strength training</h5>
          <p class="card-text">Why strength training is benfecial disregarding age, gender or anything.</p>
          <a href="#" class="btn btn-danger">Learn more</a>  
        </div>
      </div>
    </div>
  </main>
</body>
</html>