<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static//css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class=" container border-login">
        <div class="h1 heading space ">Eat clean.</div>
        <div class="row">
          <div class="col">
            <form action="get">
              <div class="form-group ">
                <label for="text"> Username or email</label >
                <input type="text" class="form-control" placeholder="Enter here" >
              </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" placeholder="Enter password" id="pwd">
                </div>
                <div class="button-space">
                <button type="submit" class="btn btn-danger">LOGIN</button>
                <a href="/signup" class="btn btn-outline-danger">Signup</a>
                 </div>
              </form>
          </div>
          <div class="col login-block">
              <div class="login-text white">
                  <h2>Login here</h2>
                  <p>login or register to access.</p>
              </div>
          </div>
        </div>
    
    </div>
</body>
</html>